$blue: #00b0ff;
$green: #22e58a;
$red: #FF9E80;
$grey: #adadad;

.list {

  ////// Add task input

  .note, input {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    padding: 15px 25px;
    margin-bottom: 15px;
    border-radius: 25px;
    -webkit-box-shadow: 1px 6px 26px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 1px 6px 26px -2px rgba(0,0,0,0.32);
    box-shadow: 1px 6px 26px -2px rgba(0,0,0,0.32);
    font-size: 16px;
  }

  input {
    width: 100%;
    border: none;
    &::placeholder {
      color: $grey;
    }
  }

  .note-input {
    display: flex;
    justify-content: center;
  }

  /////// Checkmark

  .check {
    background: $red;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.64);

    &:hover {
      cursor: pointer;
    }

    &:after{
      content: '';
      display: block;
      width: 3px;
      height: 6px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  .complete {

    .check {
      background: $green;
      transition: .25s;

      &:after{
        content: '';
        display: block;
        width: 3px;
        height: 6px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        animation: fadeInDown .1s;
        transition: opacity transform .25s;
      }
    }

    span {
      text-decoration: line-through;
      color: $grey;
    }
  }

  .incomplete {

    .check:after {
      transform: translateY(-5px) rotate(45deg);
      opacity: 0;
      transition: .25s;
    }
  }

  /////// Add task button

  .btn-container {
    display: flex;
    justify-content: center;
  }

  .btn {
    position: absolute;
    bottom: 50px;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $blue;
    border-radius: 75px;
    color: white;
    font-size: 100px;
    font-weight: 100;
    -webkit-box-shadow: 1px 6px 26px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 1px 6px 26px -2px rgba(0,0,0,0.32);
    box-shadow: 1px 6px 26px -2px rgba(0,0,0,0.32);
    transition: .25s;

    &:hover {
      cursor: pointer;
      opacity: .7;
    }

    &:hover .vertical {
      animation: rotate 2s infinite;
    }

    &:hover .horizontal {
      animation: rotateOpposite 2s infinite;
    }

    .plus {
      position: relative;
      display: flex;
      justify-content: center;
    }

    .vertical, .horizontal {
      position: absolute;
      background: white;
      width: 35px;
      height: 2px;
    }

    .horizontal {
      transform: rotate(90deg);
    }
  }
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(90deg);}
  75% {transform: rotate(0deg);}
}

@keyframes rotateOpposite {
  0% {transform: rotate(90deg);}
  25% {transform: rotate(0deg);}
}

@keyframes fadeInDown {
  0% {transform: translateY(-10px) rotate(45deg);}
  100% {transform: translateY(0px) rotate(45deg);}
}

@keyframes fadeInUp {
  100% {transform: translateY(0px) rotate(45deg);}
  0% {transform: translateY(-10px) rotate(45deg);}
}
